# vi: ft=gitconfig
[user]
    email = {{ .email }}
    name = {{ .name }}
    signingkey = {{ .signingkey }}

[core]
    precomposeunicode = true
    quotepath = false
    ignorecase = false
    pager = delta

[interactive]
    diffFilter = delta --color-only

[commit]
    gpgsign = true

[log]
    date = iso

[push]
    default = simple

[pull]
    ff = only

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = gruvbox-dark
